h1 {
    text-align: center;
}

button {
    font-size: medium;
    background-color: rgb(240, 240, 240);
}

button:active {
    background-color: rgb(200, 200, 200);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.controls {
    width: 200px;
    padding: 30px;
}

.copy-button {
    align-self: flex-start;
    margin-top: 30px;
    padding: 5px;
    display: none;  /* changes to flex when text is generated */
    justify-content: center;
    align-content: center;

    /* set to relative to allow offsetting tooltip */
    position: relative;
}

.main-colors {
    background-color: white;
    color: black;
}

.output-box {
    display: flex;
    justify-content: flex-start;
}

.pad10 {
    padding: 10px;
}

.round-border {
    border: 2px solid black;
    border-radius: 12px;
}

.slider {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    accent-color: rgb(55, 55, 50);
}

.tooltip {
    position: absolute;
    bottom: 40px;
    left: 5px;
    width: max-content;
    padding: 5px;
    z-index: 6;
    display: none;  /* hidden until mouseover */
}

.width90 {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

/* change color scheme for users in dark mode */
@media (prefers-color-scheme: dark) {
    .main-colors {
        background-color: black;
        color: white;
    }
    .round-border {
        border-color: white;
    }
    .slider {
        accent-color: rgb(235, 235, 230);
    }
}

/* make output display responsive to screen width */
@media screen and (min-width: 500px) {
    .width90 {
        width: 90%;
    }
}
